.contenedor {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-family: Arial;
}

h2 {
    color: #2c3e50;
}

.formulario {
    background: #f4f6f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.campo {
    margin-bottom: 15px;
}

    .campo label {
        display: block;
        font-weight: bold;
    }

    .campo input,
    .campo select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.botones {
    margin-top: 20px;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.guardar {
    background: #27ae60;
}

.actualizar {
    background: #2980b9;
}

.eliminar {
    background: #c0392b;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

    .tabla th {
        background: #2c3e50;
        color: white;
        padding: 10px;
    }

    .tabla td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
