.titles-container {
    width: 800px;
    margin: 40px auto;
}

.title-form {
    background: #111;
    padding: 25px;
    border: 1px solid #191919;
    border-radius: 6px;
}

.title-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .title-table th {
        background: #1f2124;
    }

    .title-table th,
    .title-table td {
        border: 1px solid #333;
        padding: 8px;
    }
